<section
    class="container my-10 px-20 flex justify-around items-center gap-10 max-md:flex-col md:flex-row-reverse"
>
    <div class="flex flex-col justify-center items-center">
        <h3
            class="text-5xl p-1 font-bold bg-clip-text text-transparent text-center bg-gradient-to-r from-[#37527B] to-[#8CB7F9]"
        >
            Acerca de mi
        </h3>
        <p class="py-5 px-15">
            Soy Ingeniero en Sistemas Computacionales con formación en
            desarrollo web Full Stack. He trabajado en proyectos utilizando
            React, Node.js, Express y MongoDB (MERN), creando desde landing
            pages hasta sistemas más complejos, como la administración de
            comandas en un restaurante.
            <br /><br />
            Me apasiona resolver problemas a través del código, aprender nuevas tecnologías
            y mejorar mis habilidades constantemente. Busco aportar en proyectos
            que generen impactoo para seguir creciendo como Software Developer
        </p>
    </div>
    <img
        src="../src/assets/aboutme.png"
        alt="Imagen jaun simon developper"
        class="w-70 drop-shadow-[-10px_0_60px_rgba(140,183,249,0.6)]"
    />
</section>
