<section class=" flex justify-center items-center w-full flex-col py-5 mt-5 border-t-1 border-t-sky-900 bg-gradient-to-b from-[#101D32] to-[#162742]">
    <div class="flex justify-center items-center gap-3">
        <img class="size-10 rounded-full" src="/img/cartoon.png" alt="cartoon juan">
        <p class="text-xl p-1 font-bold bg-clip-text text-transparent text-center bg-gradient-to-r from-[#37527B] to-[#8CB7F9]" >JUAN S. LADINO</p>
    </div>
    <div class="flex justify-center items-center flex-wrap gap-5 my-3">
        <div class=" flex justify-center items-center gap-1">
            <img class="size-6" src="/img/gitIcon.svg" alt="">
            <p class="text-sm tracking-wide pl-1">@juanladino</p>
        </div>
        <div class=" flex justify-center items-center gap-1">
            <img class="size-6" src="/img/inIcon.svg" alt="">
            <p class="text-sm tracking-wide pl-1">@juanladino</p>
        </div>
        <div class=" flex justify-center items-center gap-1">
            <img class="size-6" src="/img/mailIcon.svg" alt="">
            <p class="text-sm tracking-wide pl-1"> juanladinomoreno@gmail.com</p>
        </div>
        
    </div>

</section>