<div class="flex justify-center items-center h-[100vh]">
    <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
    <div
        class="flex justify-around items-center w-full flex-wrap-reverse gap-10"
    >
        <div class="flex flex-col">
            <h2
                class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#37527B] to-[#8CB7F9]"
                data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine"
            >
                Juan S. Ladino
            </h2>
            <h1
                class="text-3xl font-semibold"
                data-aos="fade-right"
                data-aos-offset="300"
                data-aos-easing="ease-in-sine"
            >
                Software developer
            </h1>
            <div
                class="flex gap-x-3 mt-3"
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-easing="ease-in-sine"
            >
                <a
                    href="#"
                    class="flex items-center space-x-2 hover:drop-shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
                >
                    <img
                        src="/img/gitIcon.svg"
                        class="size-7"
                        alt="GitHub Logo"
                    />
                </a>
                <a
                    href="#"
                    class="flex items-center space-x-2 hover:drop-shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
                >
                    <img
                        src="/img/inIcon.svg"
                        class="size-7"
                        alt="GitHub Logo"
                    />
                </a>
                <a
                    href="#"
                    class="flex items-center space-x-2 hover:drop-shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
                >
                    <img
                        src="/img/mailIcon.svg"
                        class="size-7"
                        alt="GitHub Logo"
                    />
                </a>
            </div>
            <a
                href="/cv.pdf" 
                download="Mi_CV.pdf"
                target="_blank"
                class="flex justify-around items-center bg-transparent border-1 rounded-3xl text-center tracking-wide font-semibold mt-5 py-2 px-2 float-right max-w-[170px]"
                data-aos="fade-left"
                data-aos-offset="100"
                data-aos-easing="ease-in-sine"
            >
                Descargar
                <img src="/img/cvIcon.svg" alt="CVJuanSimonIcon" />
            </a>
        </div>
        <img
            src="/img/me2.png"
            alt="logo_cartoon"
            class="relative h-100 rounded-full drop-shadow-[-10px_0_60px_rgba(140,183,249,0.6)]"
            data-aos="zoom-in-up"
        />
    </div>
</div>
