---
import logo from "../assets/logo.svg";
---
<!-- <nav  class=" flex justify-between items-center w-[80vw] max-w-screen p-3  mt-4 rounded-2xl bg-sky-900/10 border-t-2 border-sky-100/50"> -->
<nav  class=" flex justify-between items-center w-[80vw] max-w-screen p-3  mt-4 rounded-2xl bg-secondary backdrop-blur-sm border-t-2 border-sky-100/50 z-50 fixed top-0">
    <!-- <p class="px-2">JSladino</p> -->
    <img src={logo.src} alt="" class="h-10 scale-150 mx-5 duration-500 hover:scale-200 hover:rotate-90 transition">
    <div class=" flex justify-between items-center gap-x-4 z-40">
        <a href="">Inicio</a>
        <a href="">Proyectos</a>
        <a href="">Tecnologías</a>
        <a href="">Sobre mi</a>
    </div>
</nav>