---
// import logo from "/img/logo.svg";
---

<!-- <nav  class=" flex justify-between items-center w-[80vw] max-w-screen p-3  mt-4 rounded-2xl bg-sky-900/10 border-t-2 border-sky-100/50"> -->
<nav
    class="flex justify-between items-center w-[80vw] max-w-screen p-3 mt-4 rounded-2xl bg-secondary backdrop-blur-sm border-t-2 border-sky-100/50 z-50 fixed top-0"
    data-aos="zoom-out-down"
>
    <!-- <p class="px-2">JSladino</p> -->
    <img
        src="/img/logo.svg"
        alt=""
        class="h-10 scale-150 mx-5 duration-500 hover:scale-200 hover:rotate-90 transition hidden sm:inline"
    />
    <div class="flex justify-between items-center gap-x-4 z-40 py-2">
        <a href="#home" class="hover:border-b hover:b-cyan-700">Inicio</a>
        <a href="#proyects" class="hover:border-b hover:b-cyan-700">Proyectos</a>
        <a href="#techs" class="hover:border-b hover:b-cyan-700">Tecnologías</a>
        <a href="#aboutme" class="hover:border-b hover:b-cyan-700">Sobre mi</a>
        <a href="#contact" class="hover:border-b hover:b-cyan-700">Contacto</a>
    </div>
</nav>