<section class="my-10" id="techs">
    <!-- <div class="my-20"> -->
    <h3
        class="text-5xl p-1 font-bold bg-clip-text text-transparent text-center bg-gradient-to-r from-[#37527B] to-[#8CB7F9]"
    >
        Stack
    </h3>
    <div
        class="grid-container my-20 mx-10"
        data-aos="zoom-out-down"
        data-aos-duration="2500"
    >
        <!-- FRONTEND -->
        <div
            class="row-span-2 grid grid-cols-2 grid-rows-5 gap-4 p-3 shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
        >
            <!-- <div class="row-span-2 grid grid-cols-2 grid-rows-5 gap-4 bg-secondary backdrop-blur-sm border-2 border-sky-100/50"> -->
            <div class="col-span-2 flex justify-center items-center">
                <h4 class="md:text-2xl font-semibold text-xl">Frontend</h4>
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img
                    class="row-start-2 w-12"
                    src="/img/tech/iHTML.svg"
                    alt=""
                />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/icss.svg" alt="" />
            </div>
            <div class="row-start-3 flex justify-center items-center">
                <img class="w-12" src="/img/tech/ireact.svg" alt="" />
            </div>
            <div class="row-start-3 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iboot.svg" alt="" />
            </div>
            <div class="row-start-4 flex justify-center items-center">
                <img class="w-12" src="/img/tech/ijavascript.svg" alt="" />
            </div>
            <div class="row-start-4 flex justify-center items-center">
                <img class="w-12" src="/img/tech/itailwind.svg" alt="" />
            </div>
            <!-- <div class="row-start-5 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iastro.svg" alt="" />
            </div> -->
            <div class="row-start-5 flex justify-center items-center">
                <img class="w-12" src="/img/tech/isass.svg" alt="" />
            </div>
        </div>

        <!-- BACKEND -->
        <div
            class="col-span-2 grid grid-cols-5 grid-rows-2 justify-center items-center place-content-center gap-4 p-3 shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
        >
            <div class="col-span-5 flex justify-center items-center">
                <h4 class="md:text-2xl font-semibold text-xl">Backend</h4>
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/inode.svg" alt="" />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/imongo.svg" alt="" />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iSQL.svg" alt="" />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iexpress.svg" alt="" />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iJWT.svg" alt="" />
            </div>
        </div>

        <!-- TOOLS -->
        <div
            class="grid grid-cols-2 grid-rows-3 gap-4 p-3 shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
        >
            <div class="col-span-3 flex justify-center items-center">
                <h4 class="md:text-2xl font-semibold text-xl">Tools</h4>
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-8" src="/img/tech/iFigma.svg" alt="" />
            </div>
            <div class="row-start-2 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iGit.svg" alt="" />
            </div>
            <div class="row-start-3 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iGitHub.svg" alt="" />
            </div>
            <div class="row-start-3 flex justify-center items-center">
                <img class="w-12" src="/img/tech/iPostman.png" alt="" />
            </div>
            <!-- <div class="row-start-3 flex justify-center items-center">
        <img class="w-12" src="../src/assets/tech/iGit.svg" alt="" />
    </div> -->
        </div>

        <!-- APRENDIENDO -->
        <div
            class="grid grid-cols-2 grid-rows-2 gap-4 p-3 shadow-[0_4px_6px_rgba(140,183,249,0.6)]"
        >
            <div class="flex justify-center items-center">
                <img class="w-12" src="/img/tech/iTS.svg" alt="" />
            </div>
            <div class="flex justify-center items-center">
                <img class="w-12" src="/img/tech/idocker.svg" alt="" />
            </div>
            <div class="flex justify-center items-center">
                <img class="w-12" src="/img/tech/iastro.svg" alt="" />
            </div>
            <div
                class="row-span-2 col-start-2 row-start-1 flex justify-center items-center"
            >
                <h4
                    class="col-span-3 writingMode md:text-2xl font-semibold text-xl"
                >
                    Aprendiendo
                </h4>
            </div>
        </div>
    </div>
</section>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        /* max-width: 995px; */
    }

    .writingMode {
        writing-mode: vertical-rl;
    }
</style>
