---
// import burrob from "../../assets/proyects/burrob.png";
import DataComponent from "./DataComponent";
---

<div class="my-5">
    <h3
        class="text-5xl p-1 font-bold bg-clip-text text-transparent text-center bg-gradient-to-r from-[#37527B] to-[#8CB7F9]"
    >
        Proyectos
    </h3>

    <DataComponent
        title="Sistema de gestión para negocios de comida rápida"
        desc="Aplicación web que permite administrar usuarios, clientes, productos y sucursales, además de gestionar comandas con opción de mesa o para llevar. Incluye un sistema de tickets con envío por correo y un dashboard con reportes de ventas filtrables por sucursal, año y categoría. También permite exportar datos en Excel, ofreciendo una solución adaptable para pequeños negocios de comida."
        link="https://burguerrobles.com.mx/"
        images={[
            "/img/proyects/vent1.png",
            "/img/proyects/vent2.png",
            "/img/proyects/vent3.png",
            "/img/proyects/vent4.png",
            "/img/proyects/vent5.png",
        ]}
        flowReverse=""
        client:load
    />
    <DataComponent
        title="Landing Page Hamburguesería"
        desc="Una página web diseñada para que los usuarios puedan ver el menú de productos, conocer más sobre el local, consultar información de contacto y comunicarse vía WhatsApp."
        link="https://burguerrobles.com.mx/"
        images={[
            "/img/proyects/burrob.png",
            "/img/proyects/burrob2.png",
            "/img/proyects/burrob3.png",
        ]}
        flowReverse="flex-row-reverse"
        client:load
    />

    <DataComponent
        title="Landing Page para Doctora"
        desc="Una página web diseñada para presentar los servicios médicos, especialidades y horarios de atención de una doctora. Incluye información de contacto y una opción para agendar citas vía WhatsApp."
        link="https://doctoralaurabravo.com.mx/"
        images={[
            "/img/proyects/doc1.png",
            "/img/proyects/doc2.png",
            "/img/proyects/doc3.png",
        ]}
        flowReverse=""
        client:load
    />


</div>
