---
// import burrob from "../../assets/proyects/burrob.png";
import DataComponent from "./DataComponent";
---

<div class="my-5" id="proyects">
    <h3
        class="text-5xl p-1 font-bold bg-clip-text text-transparent text-center bg-gradient-to-r from-[#37527B] to-[#8CB7F9]"
    >
        Proyectos
    </h3>

    <DataComponent
        title="MCP Server - Data Processor"
        desc="Servidor MCP (Model Context Protocol) que funciona como agente de ventas inteligente con procesamiento de lenguaje natural. Entiende consultas de clientes, proporciona recomendaciones personalizadas de productos y gestiona información de pedidos. Implementado con autenticación OAuth 2.1 (Scalekit) y control de acceso basado en permisos. Integrado con Claude Desktop."
        link="#"
        linkRepo="https://github.com/JuanLadinoMoreno/Demo-MCPServer"
        images={[]}
        videoId="UvwZgMv05rU"
        flowReverse="flex-row-reverse"
        client:load
        stack={["inode", "iexpress", "iTS"]}
    />

    <DataComponent
        title="Sistema de gestión para negocios de comida rápida"
        desc="Plataforma web full stack diseñada para optimizar la gestión de negocios de comida. Incluye autenticación con JWT para garantizar la seguridad del acceso y un sistema de roles para gestionar permisos. Permite administrar usuarios, clientes, productos y sucursales, además de gestionar comandas para pedidos en mesa o para llevar. Incluye un sistema de tickets con envío por correo y un dashboard con reportes filtrables por sucursal, año y categoría. También permite exportar datos en Excel, facilitando el análisis de ventas y la toma de decisiones."
        link="#"
        linkRepo="https://github.com/JuanLadinoMoreno/BurguerAppBackend"
        images={[
            "/img/proyects/vent1.png",
            "/img/proyects/vent2.png",
            "/img/proyects/vent3.png",
            "/img/proyects/vent4.png",
            "/img/proyects/vent5.png",
        ]}
        videoId=""
        flowReverse=""
        client:load
        stack={[
            "iHTML",
            "icss",
            "ijavascript",
            "iboot",
            "isass",
            "inode",
            "iexpress",
            "iJWT",
            "ireact",
        ]}
    />

    <DataComponent
        title="Sitio web de Hamburguesería"
        desc="Sitio web diseñado para ofrecer a los usuarios una experiencia completa, permitiéndoles explorar el menú de productos, conocer más sobre el local, y acceder a secciones dedicadas a asados y eventos especiales. Además, incluye información de contacto y una opción para comunicarse fácilmente vía WhatsApp.."
        link="https://burguerrobles.com.mx/"
        linkRepo="https://github.com/JuanLadinoMoreno/BurguerAppFront"
        images={[
            "/img/proyects/burrob.png",
            "/img/proyects/burrob2.png",
            "/img/proyects/burrob3.png",
        ]}
        videoId=""
        flowReverse="flex-row-reverse"
        client:load
        stack={["iHTML", "icss", "ijavascript", "iboot", "isass"]}
    />

    <DataComponent
        title="Landing Page para Doctora"
        desc="Una página web diseñada para presentar los servicios médicos, especialidades y horarios de atención de una doctora. Incluye información de contacto y una opción para agendar citas vía WhatsApp."
        link="https://doctoralaurabravo.com.mx/"
        linkRepo="https://github.com/JuanLadinoMoreno/LandingDraLaura"
        images={[
            "/img/proyects/doc1.png",
            "/img/proyects/doc2.png",
            "/img/proyects/doc3.png",
        ]}
        videoId=""
        flowReverse=""
        client:load
        stack={["iHTML", "icss", "ijavascript", "isass"]}
    />
</div>
